/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Variables */

:root {
    --sans-serif: "Poppins";
    --off-white: #EEEEEE;
    --green: #24A24A;
    --grey: #8E8E8E;
    --dark-grey: #232323;
    --black-grey: #111111;
}


/* ---------------- */
/* GENERAL */
html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--sans-serif);
    background-color: var(--dark-grey);
    color: var(--off-white);
    scroll-behavior: smooth;
}

body.no-scroll {
    overflow: hidden;
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

section {
    padding: 4rem 0;
}

.section-break {
    padding: 1rem;
}

.material-icons {
    font-size: 1rem;
}


/* Navigation */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark-grey);
    width: 100%;
    height: 4rem;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 8px 10px 2px rgba(17, 17, 1, 0.25);
    -moz-box-shadow: 0px 8px 10px 2px rgba(17, 17, 1, 0.25);
    box-shadow: 0px 8px 10px 2px rgba(17, 17, 1, 0.25);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.navbar img {
    display: block;
    height: 2.5rem
}

.navbar i {
    padding: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.navbar i:hover {
    color: var(--green);
}

.navbar-overlay {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--dark-grey);
    background-image: url("../images/backgrounds/services-section.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: center;
}

.navbar-overlay i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.navbar-overlay i:hover {
    color: var(--green);
}

.navbar-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar-content img {
    width: 20%;
    margin-bottom: 3rem;
}

.navbar-menu {
    z-index: 25;
    border-left: 3px solid var(--green);
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.navbar-menu a {
    color: var(--off-white);
    text-decoration: none;
    margin: 0.3rem 0;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.navbar-menu a:hover {
    color: var(--green);
}


/* Reusable Styles */

.button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1.5px solid var(--green);
    color: var(--off-white);
    margin-top: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    font-size: 0.75rem;
    text-transform: uppercase;
    outline: none;
}

.button i {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: var(--green);
}

.button:hover {
    background-color: var(--green);
}

.button:hover i {
    color: var(--off-white);
}

.scroll-top-button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: var(--green);
    border: none;
    padding: 0.25rem 0.25rem;
    outline: none;
    cursor: pointer;
    display: none;
}

.scroll-top-button i {
    vertical-align: middle;
    color: var(--off-white);
}

.section-heading .line {
    width: 10%;
    height: 0.25rem;
    background-color: var(--green);
}

.section-heading h1 {
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}

.section-heading.projects-heading h1 {
    font-weight: 400;
}

.section-heading.projects-heading h1 span {
    font-weight: 500;
}





/* Scrollbar  */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--dark-grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}


/* Footer */

footer {
    padding-top: 2rem;
    background-color: var(--black-grey);
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 65%;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    display: flex;
    align-items: center;
}

footer a:hover {
    color: var(--green);
}

footer a i {
    /* font-size: 0.9rem !important; */
    margin-right: 0.3rem;
    color: var(--green);
}

.footer-links,
.footer-contact {
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--green);
    padding-left: 1rem;
}

.home-footer .footer-contact a:nth-child(1),
.home-footer .footer-contact a:nth-child(2) {
    display: none;
}

.footer-contact img {
    width: 0.8rem;
    margin-right: 0.5rem;
}


.footer-links {
    justify-content: space-between;
}

.footer-copy {
    border-top: 0.5px solid var(--green);
    text-align: center;
    font-size: 0.7rem;
    color: grey;
    margin-top: 1.5rem;
    padding: 0.5rem 0;
}

.footer-copy p {
    margin: 0;
}

.footer-copy p a {
    display: inline;
    font-size: 0.7rem;
    color: grey;
    text-transform: none;
}

.footer-copy p a:hover {
    color: var(--green);
}


/* ----------------------------- */
/* HOME PAGE */




/* Landing Section */

.section-landing {
    padding: 0;
    position: relative;
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    background-image: url("../images/backgrounds/landing.jpg");
    z-index: 1;
    display: flex;
    align-items: center;
}

.section-landing .video-cover {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--dark-grey);
    opacity: 0.75;
}

.section-landing .logo-mark {
    display: block;
    position: absolute;
    z-index: 5;
    top: 1rem;
    left: 1rem;
}

.section-landing .logo-mark img {
    width: 3rem;
}



.section-landing nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 5;
}

.section-landing nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.section-landing nav li {
    margin: 0.3rem 0;
}

.section-landing nav li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.section-landing .content {
    position: relative;
    z-index: 5;
    text-align: center;
}

.section-landing .content img {
    width: 35%;
    margin-left: -3rem;
    margin-bottom: 2rem;
}

.section-landing .content p {
    color: white
}

.section-landing .content p:nth-child(2) {
    font-size: 1.1rem;
}

.section-landing .content p:nth-child(3) {
    color: red;
}

.section-landing .content p:nth-child(3) a {
    color: red;
}


.landing-social {
    z-index: 5;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
}

.landing-social a img {
    width: 1.4rem;
    margin: 0.25rem 0;
}



/* Projects Sections */

.section-projects {
    padding-bottom: 8rem;
}

.section-projects .project-types {
    list-style: none;
    display: flex;
}


.section-projects .project-types p {
    text-transform: uppercase;
    color: var(--grey);
    padding-right: 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    letter-spacing: 0.5px;
    margin: 0;
}

.section-projects .project-types p.active {
    color: var(--green);
    font-weight: 500;
}

.projects-extra {
    text-align: center;
    margin-top: 3rem;
}

.projects-extra p {
    font-weight: 300;
    font-size: 0.9rem;
    margin: 0.25rem 0;
}

.projects-extra .button {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
}


/* Project Grid */
.project-grid {
    display: grid;
    grid-template: repeat(3, 35vh) / repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 2rem;
}

.grid-col-1-2 {
    grid-column: 1 / span 2;
}

.grid-col-2-3 {
    grid-column: 2 / span 2;
}

.grid-row-2-3 {
    grid-row: 2 / span 2;
}

.project-inner {
    width: 100%;
    height: 100%;
    background-color: rgb(17, 17, 17, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.75s ease;
    -webkit-transition: 0.75s ease;
    -moz-transition: 0.75s ease;
    -ms-transition: 0.75s ease;
    -o-transition: 0.75s ease;
    opacity: 0;
    text-decoration: none;
}

.project-inner h3 span {
    font-weight: 600;
}

.project-inner h3 span:nth-child(2) {
    color: var(--green);
}

.project h3 {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: var(--off-white);
}

.project p {
    font-size: 0.9rem;
    color: var(--green);
    margin-top: 0.5rem;
    display: flex;
    align-items: center;

}

.project p i {
    font-size: 0.8rem;
    margin-right: 0.25rem;
}

.project:hover .project-inner {
    opacity: 1;
}


.project .divider-line {
    width: 40%;
    height: 2px;
    background-color: var(--off-white);
}


#all-projects-button {
    border: 2px solid var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    background-color: var(--black-grey);
    background-image: none;
    cursor: pointer;
}

#all-projects-button .project-inner {
    opacity: 1;
    background-color: transparent;
}

#all-projects-button:hover {
    background-color: var(--green);
}

#all-projects-button p {
    margin: 0;
    display: flex;
    align-items: center;
    color: var(--off-white);
}


#all-projects-button p i {
    margin-left: 0.5rem;
    font-size: 1rem;
}

#all-projects-button a {
    text-decoration: none;
}

.project {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#project-home-OVD-519 {
    background-image: url("../images/projects/Single Residential/OVD 519/OVD 519 (1).jpg");
}

#project-home-nettleton {
    background-image: url("../images/projects/Single Residential/7 Nettleton/7 Nettleton (1).jpg");
}

#project-home-brazzaville {
    background-image: url("../images/projects/Multi Use/Brazzaville/Brazzaville (3).jpg");
}

#project-home-glengariff {
    background-image: url("../images/projects/Multi Use/Glengariff/Glengariff (1).jpg");
}

#project-home-kirchpharma {
    background-image: url("../images/projects/Commercial/Kirchpharma/Kirchpharma (2).jpg");
}





/* Stats Section */

.section-stats {
    position: relative;
    background-image: url("../images/backgrounds/stats-section.jpg");
    background-size: cover;
    background-position: bottom center;
}

.stats-grid {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.stats-item {
    width: 30%;
    padding: 0 5%;
    display: flex;
    align-items: center;
}

.stats-item h1 {
    font-size: 6rem;
    color: var(--green);
    font-weight: 500;
    padding-right: 1rem;
    margin: 0;
}



/* About Section */

.section-about {
    background-image: url("../images/backgrounds/services-section.png");
    background-size: 100% auto;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 8rem 0;
}

#section-services {
    margin-top: 6rem;
}

.section-about .content p {
    font-weight: 300;
    font-size: 0.9rem;
}

.section-about .content h4 {
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-left: 3px solid var(--green);
    padding-left: 1rem;
}

.services-grid {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}

.services-grid.alternate {
    align-content: center;
    margin-bottom: 0;
}

.services-grid.alternate div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem
}

.services-grid div {
    width: 33%;
    border-right: 2px solid var(--green);
    padding: 0 1rem;
}

.services-grid div:last-child {
    border-right: none
}

.services-grid h5 {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
}

.services-grid .heading-underline {
    width: 60%;
    height: 1px;
    background-color: var(--green);
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.services-grid ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.services-grid ul li {
    font-size: 0.9rem;
}

.services-grid ul li span {
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.25rem;
    background-color: var(--green);
    display: inline-block;
    vertical-align: middle;
}


/* Feedback Grid */

.feedback-section {
    position: relative;
    background-image: url("../images/backgrounds/feedback-section.jpg");
    background-size: cover;
    background-position: bottom center;
}

.feedback-grid {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}

.feedback-item {
    width: 33%;
    text-align: center;
    padding: 0 1rem;
}

.feedback-item p:first-child {
    font-style: italic;
    font-size: 0.9rem;
}

.feedback-item h5 {
    color: var(--green);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.feedback-item h6 {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0.2rem 0;
}

.feedback-item p:last-child {
    font-size: 0.7rem;
    color: var(--green);
    margin: 0;
}



/* COntact Section */

.section-contact {
    background-image: url("../images/backgrounds/contact-section.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 85% 50%;
    padding-bottom: 6rem;
    padding-top: 8rem;
}

.contact-grid {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.contact-map {
    width: 45%;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-details {
    width: 50%;
    border-left: 2px solid var(--green);
    padding-left: 1rem;
}

.contact-details a {
    display: flex;
    color: var(--off-white);
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    margin: 0.25rem 0;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.contact-details a:hover {
    color: var(--green);
}

.contact-details a i {
    color: var(--green);
    margin-right: 0.5rem;
}

.contact-details h4 {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.contact-details h4 span {
    color: var(--green);
}

.contact-details .button {
    margin-top: 2rem;
}

.contact-modal {
    width: 100%;
    height: 100%;
    background-color: rgb(17, 17, 17, 0.95);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.contact-modal i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.contact-modal i:hover {
    color: var(--green);
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form h3 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.contact-form input,
.contact-form textarea {
    background-color: transparent;
    width: 60%;
    border: 1px solid var(--green);
    padding: 0.5rem;
    color: var(--off-white);
    margin: 0.5rem 0;
    resize: none;
    font-family: var(--sans-serif);
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    color: var(--green);
    border-color: var(--off-white);
}




/*  ------------------- */
/* PROJECTS PAGE */

.projects-page .section-projects {
    margin-top: 5rem;
}

.projects-page .project-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.projects-page .project {
    height: 40vh;
    width: 31%;
}

.project-modal {
    z-index: 25;
    min-height: 100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--black-grey);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    padding: 5rem 0;
    display: none;
}

.project-modal-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-details {
    width: 35%;
}

.project-name {
    font-size: 1.4rem;
    font-weight: 500;
    border-left: 4px solid var(--green);
    margin: 0 0 1.5rem 0;
    padding-left: 1rem;
}

.project-details p {
    font-size: 0.9rem;
    margin-left: 0.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.project-details i {
    color: var(--green);
    margin-right: 0.5rem;
}

.project-association {
    margin-top: 2rem !important;
}

.project-logos {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 1rem;
}


.project-logos img {
    width: 50%;
    display: block;
    margin: 1rem 0;
}

.close-project-modal,
.close-project-image-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.close-project-modal:hover,
.close-project-image-modal:hover {
    color: var(--green);
}

.project-images {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.project-images div {
    /* background-image: url("../images/projects/NETT\ \(13\).jpg");
    background-position: center center;
    background-size: cover; */
    width: 49%;
    height: 40vh;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    overflow: hidden;
}

.project-images div:hover {
    opacity: 0.5;
}

.project-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.project-image-modal {
    z-index: 30;
    width: 0;
    height: 100%;
    background-color: var(--black-grey);
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

.project-image-modal.active {
    width: 100%;
}

.project-image-modal .content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
}


.project-image-modal .image {
    width: 90%;
    height: 100%;
}

.project-image-modal .image img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image-arrow {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.image-arrow i {
    font-size: 1.5rem;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.image-arrow i:hover {
    color: var(--green);
}