/* Variables */

:root {
    --sans-serif: "Poppins";
    --off-white: #EEEEEE;
    --green: #24A24A;
    --grey: #8E8E8E;
    --dark-grey: #232323;
    --black-grey: #111111;
}


/* ---------------- */
/* GENERAL */
html {
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--sans-serif);
    background-color: var(--dark-grey);
    color: var(--off-white);
    scroll-behavior: smooth;
    font-display: swap;
}

.no-scroll {
    overflow: hidden;
}

.container {
    width: 100%;
    padding: 0 3rem;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

section {
    padding: 4rem 0;
}

.section-break {
    padding: 1rem;
}

.material-icons {
    font-size: 1rem;
}


/* Navigation */

.navbar {
    background-color: transparent;
    width: 100%;
    height: 4rem;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    position: absolute;
}

.navbar img {
    display: block;
    height: 3.25rem;
    padding-left: 2rem;
    margin-top: 1rem;
}

.navbar-icon {
    padding: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.navbar-icon:hover {
    color: var(--green);
}

.navbar-icon.active {
    color: var(--green);

}

.navbar-menu {
    background-color: transparent;
    position: absolute;
    top: 3rem;
    right: 0;
    width: 0;
    overflow: hidden;
    transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
}

.navbar-menu.active {
    width: auto;
}

.navbar-menu>div {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

@media (hover: hover) {

    .navbar-icon:hover+.navbar-menu,
    .navbar-menu:hover {
        width: auto;
    }
}


.navbar-menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-bottom: 2px solid transparent;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    margin-top: 0.5rem;
    text-align: right;
}

.navbar-menu a:hover {
    border-color: var(--green);
}



/* Reusable Styles */

.button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1.5px solid var(--green);
    color: var(--off-white);
    margin-top: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    font-size: 0.75rem;
    text-transform: uppercase;
    outline: none;
}

.button i {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: var(--green);
}

.button:hover {
    background-color: var(--green);
}

.button:hover i {
    color: var(--off-white);
}

.scroll-top-button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: var(--green);
    border: none;
    padding: 0.25rem 0.25rem;
    outline: none;
    cursor: pointer;
    display: none;
}

.scroll-top-button i {
    vertical-align: middle;
    color: var(--off-white);
}

.section-heading .line {
    width: 10%;
    height: 0.25rem;
    background-color: var(--green);
}

.section-heading h1 {
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}

.section-heading.projects-heading h1 {
    font-weight: 400;
}

.section-heading.projects-heading h1 span {
    font-weight: 500;
}





/* Scrollbar  */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--dark-grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}


/* Footer */

footer {
    padding-top: 2rem;
    background-color: var(--black-grey);
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 50%;
}

.footer-links a,
.footer-contact a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
}

footer a:hover {
    color: var(--green);
}

footer a i {
    /* font-size: 0.9rem !important; */
    margin-right: 0.3rem;
    color: var(--green);
}

.footer-links,
.footer-contact {
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--green);
    padding-left: 1rem;
    justify-content: center;
}

.footer-contact img {
    width: 0.8rem;
    margin-right: 0.5rem;
}

.footer-copy {
    border-top: 0.5px solid var(--green);
    text-align: center;
    font-size: 0.7rem;
    color: grey;
    padding: 0.5rem 0;
}

.footer-copy p {
    margin: 0;
}

.footer-copy p a {
    display: inline;
    font-size: 0.7rem;
    color: grey;
    text-transform: none;
}

.footer-copy p a:hover {
    color: var(--green);
}

.footer-social {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 0.75rem;
}

.footer-social a img {
    width: 1.1rem;
    margin: 0 0.5rem;
}


/* Loader */

.loader {
    background-color: var(--black-grey);
    z-index: 50;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* display: none; */
}

.loader div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 5rem;
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

@keyframes loader {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* ----------------------------- */
/* HOME PAGE */




/* Landing Section */

.section-landing {
    padding: 0;
    position: relative;
    min-height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    overflow: hidden
}

.video-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.landing-video {
    min-height: 100vh;
    /* min-width: 100vw; */
}

.section-landing .video-cover {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--dark-grey);
    opacity: 0.8;
}

.section-landing .logo-mark {
    display: block;
    position: absolute;
    z-index: 5;
    top: 1rem;
    left: 1rem;
}

.section-landing .logo-mark img {
    width: 3rem;
}



.section-landing nav {
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 10;
}

.section-landing nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.section-landing nav li {
    margin: 0.3rem 0;
}

.section-landing nav li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-bottom: 2px solid transparent;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.section-landing nav li a:hover {
    border-color: var(--green);
}

.section-landing .content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    text-align: center;
    width: 100%;
    height: 100%;
}

.section-landing img {
    width: 40%;
    position: relative;
    top: 10%;
}

.section-landing .covid {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0 5%;
    box-sizing: border-box;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.section-landing .covid p {
    color: white;
    margin: 0;
    margin-bottom: 0.5rem;
}

.section-landing .covid p:nth-child(2) {
    color: red;
}

.section-landing .covid p:nth-child(2) a {
    color: red;
}


.landing-social {
    z-index: 5;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
}


.landing-social.mobile {
    position: relative;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0 1rem 0;
    display: none;
}

.landing-social a img {
    width: 1.5rem;
    margin: 0.25rem 0;
}

.landing-social.mobile a img {
    width: 1.3rem;
    margin: 0 0.5rem;
}








/* Stats Section */

.section-stats {
    position: relative;
    background-image: url("../images/backgrounds/stats-section.jpg");
    background-size: cover;
    background-position: bottom center;
}

.stats-grid {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.stats-item {
    width: 30%;
    padding: 0 5%;
    display: flex;
    align-items: center;
}

.stats-item h1 {
    font-size: 6rem;
    color: var(--green);
    font-weight: 500;
    padding-right: 1rem;
    margin: 0;
}



/* About Section */

.section-about {
    background-image: url("../images/backgrounds/landing-dark.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10rem 0 6rem 0;
}


.about-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 3fr
}

.about-grid .section-heading .line {
    width: 35%;
}

.about-grid .right-text {
    padding-left: 1.5rem;
    border-left: 3px solid var(--green);
}

.about-grid .left-text h3 {
    font-weight: 400;
    font-size: 1.1rem;
    color: white;
    margin-top: 2rem;
}

.about-grid .left-text h5 {
    font-weight: 400;
    font-size: 0.95rem;
    color: white;
}

.section-about .content p {
    font-weight: 300;
    font-size: 0.9rem;
    margin: 0.75rem 0;
}

.section-about .content h4 {
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-left: 3px solid var(--green);
    padding-left: 1rem;
}

#section-services {
    margin-top: 5rem;
}

.services-grid {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.services-grid.alternate {
    align-content: center;
    margin-bottom: 0;
}

.services-grid.alternate div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem
}

.services-grid div {
    width: 33%;
    border-right: 2px solid var(--green);
    padding: 0 1rem;
}

.services-grid div:last-child {
    border-right: none
}

.services-grid h5 {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0.75rem 0;
}

.services-grid .heading-underline {
    width: 60%;
    height: 1px;
    background-color: var(--green);
    margin: auto;
}

.services-grid ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.services-grid ul li {
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0.75rem 0;

}

.services-grid ul li span {
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.25rem;
    background-color: var(--green);
    display: inline-block;
    vertical-align: middle;
}


/* Service Logos */

.service-logos-grid {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 4rem;
    flex-wrap: wrap;
}

.service-logos-grid>div {
    width: 30%;
}

.service-logos__heading {
    text-align: center;
}

.service-logos__heading h2 {
    font-weight: 500;
    font-size: 1.2rem;
    border-bottom: 2px solid var(--green);
    display: inline-block;
}

.service-logos__container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.service-logos__container img {
    width: 8rem;
    height: 8rem;
}

.service-logos__container.register-logos img {
    width: 7rem;
}


/* Feedback Grid */

.feedback-section {
    position: relative;
    background-image: url("../images/backgrounds/feedback-section.jpg");
    background-size: cover;
    background-position: bottom center;
    padding: 3rem 0;
}

.feedback-section .section-heading {
    text-align: center;
}

.feedback-section .section-heading .line {
    margin: auto;
}

.feedback-grid {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.feedback-item {
    width: 33%;
    text-align: center;
    padding: 0 1rem;
}

.feedback-item p:first-child {
    font-style: italic;
    font-size: 0.9rem;
}

.feedback-item h5 {
    color: var(--green);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.feedback-item h6 {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0.2rem 0;
}

.feedback-item p:last-child {
    font-size: 0.7rem;
    color: var(--green);
    margin: 0;
}



/* COntact Section */

.section-contact {
    background-image: url("../images/backgrounds/landing-dark.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10rem 0 6rem 0;
    min-height: 80vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.contact-grid {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 2rem;
}


.contact-affiliations {
    width: 30%;
    padding-right: 2rem;
}

.contact-affiliations h5 {
    margin: 0;
    margin-bottom: 1rem;
    border-left: 2px solid var(--green);
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.contact-affiliations img {
    width: 90%;
    margin: 0.5rem 0;
}

.contact-affiliations img:nth-child(3) {
    margin-top: 2rem;
}

.contact-affiliations p {
    color: var(--off-white);
    font-size: 0.9rem;
    margin-top: 2rem;
}

.contact-map {
    width: 30%;
    padding-right: 2rem;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-details {
    width: 30%;
    border-left: 2px solid var(--green);
    padding: 0 1rem;
}

.contact-grid a {
    display: flex;
    color: var(--off-white);
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    margin: 0.25rem 0;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.contact-grid a:hover {
    color: var(--green);
}

.contact-grid a i {
    color: var(--green);
    margin-right: 0.5rem;
    font-size: 1rem;
}

.contact-details h4 {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.contact-details h4 span {
    color: var(--green);
}

.contact-details .button {
    margin-top: 2rem;
}

.contact-modal {
    width: 100%;
    height: 100%;
    background-color: rgb(17, 17, 17, 0.95);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.contact-modal i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.contact-modal i:hover {
    color: var(--green);
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form h3 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.contact-form input,
.contact-form textarea {
    background-color: transparent;
    width: 60%;
    border: 1px solid var(--green);
    padding: 0.5rem;
    color: var(--off-white);
    margin: 0.5rem 0;
    resize: none;
    font-family: var(--sans-serif);
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    color: var(--green);
    border-color: var(--off-white);
}




/*  ------------------- */
/* PROJECTS PAGE */


/* Projects Sections */

.section-projects {
    padding: 6rem 0;
    background-image: url("../images/backgrounds/landing-dark.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.project-types {
    list-style: none;
    display: flex;
}


.section-projects .project-types p {
    text-transform: uppercase;
    color: var(--grey);
    padding-right: 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    letter-spacing: 0.5px;
    margin: 0;
}

.section-projects .project-types p.active {
    color: var(--green);
    font-weight: 500;
}

.projects-extra {
    text-align: center;
    margin-top: 3rem;
}

.projects-extra p {
    font-weight: 300;
    font-size: 0.9rem;
    margin: 0.25rem 0;
}

.projects-extra .button {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
}

.projects-social {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.projects-social img {
    width: 1.4rem;
    margin: 0 0.5rem;
}


/* Project Grid */
.home-project-grid {
    display: grid;
    grid-template: repeat(3, 35vh) / repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}

.grid-col-1-2 {
    grid-column: 1 / span 2;
}

.grid-col-2-3 {
    grid-column: 2 / span 2;
}

.grid-row-2-3 {
    grid-row: 2 / span 2;
}

.project-inner {
    width: 100%;
    height: 100%;
    background-color: rgb(17, 17, 17, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.75s ease;
    -webkit-transition: 0.75s ease;
    -moz-transition: 0.75s ease;
    -ms-transition: 0.75s ease;
    -o-transition: 0.75s ease;
    opacity: 0;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
}

.project-inner h3 span {
    font-weight: 600;
}

.project-inner h3 span:nth-child(2) {
    color: var(--green);
}

.project h3 {
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--off-white);
    margin-bottom: 0;
}

.project h5 {
    color: var(--green);
    font-weight: 500;
    margin: 0.25rem 0
}

.project p {
    font-size: 0.9rem;
    color: var(--green);
    display: flex;
    align-items: center;
    margin: 0;
}

.project p i {
    font-size: 0.8rem;
    margin-right: 0.25rem;
}

.project:hover .project-inner {
    opacity: 1;
}


.project .divider-line {
    width: 40%;
    height: 2px;
    background-color: var(--off-white);
    margin: 0.5rem 0;
}


#all-projects-button {
    border: 2px solid var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    background-color: var(--black-grey);
    background-image: none;
    cursor: pointer;
}

#all-projects-button .project-inner {
    opacity: 1;
    background-color: transparent;
}

#all-projects-button:hover {
    background-color: var(--green);
}

#all-projects-button p {
    margin: 0;
    display: flex;
    align-items: center;
    color: var(--off-white);
}


#all-projects-button p i {
    margin-left: 0.5rem;
    font-size: 1rem;
}

#all-projects-button a {
    text-decoration: none;
}

.project {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.project .project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}

#project-home-216-OVD {
    background-image: url("../images/projects/Single Residential/216 OVD/216-OVD-(T).jpg");
}

#project-home-nettleton {
    background-image: url("../images/projects/Single Residential/7 Nettleton/7-Nettleton-(T).jpg");
}

#project-home-the-marly {
    background-image: url("../images/projects/Commercial/The Marly Hotel/The Marly Hotel (1).jpg");
}

#project-home-glengariff {
    background-image: url("../images/projects/Mixed Use/The Glengariff/The Glengariff (1).jpg");
}

#project-home-kirschpharma {
    background-image: url("../images/projects/Commercial/Kirschpharma/Kirschpharma (4).jpg");
}

#project-home-solis {
    background-image: url("../images/projects/Multi Residential/The Solis/The-Solis-(T).jpg");
}

.project-grid {
    margin-top: 2rem;
    display: none;
    flex-wrap: wrap;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.project-grid.active {
    display: grid;
}

.project-grid .project {
    height: 40vh;
}

.project-grid.portrait-grid .project {
    height: 50vh;
}

.project-modal {
    min-height: 100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-image: url("../images/backgrounds/landing-dark.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
}

.project-modal-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 4rem;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8rem 0 3rem 0;
}

.project-modal__navbar {
    background-color: transparent;
    width: 100%;
    height: 4rem;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    position: absolute;
}

.project-modal__logo img {
    position: absolute;
    display: block;
    height: 3.25rem;
    padding-left: 2rem;
    top: 1rem;
}

.project-name {
    font-size: 1.4rem;
    font-weight: 500;
    border-left: 4px solid var(--green);
    margin: 0 0 1.5rem 0;
    padding-left: 1rem;
}

.project-under-construction {
    color: var(--green);
    font-weight: 500;
}

.project-details p {
    font-size: 0.9rem;
    margin-left: 0.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.project-details i {
    color: var(--green);
    margin-right: 0.5rem;
}

.project-association {
    margin-top: 2rem !important;
}

.project-logos {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 1rem;
}


.project-logos img {
    width: 9rem;
    display: block;
    margin: 1rem 0;
}

.close-project-modal,
.close-project-image-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.close-project-modal:hover,
.close-project-image-modal:hover {
    color: var(--green);
}

.project-images-grid,
.project-images-construction-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}


.project-images .project-image {
    width: 100%;
    height: 30vh;
    max-height: 15rem;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.project-images .project-image:hover {
    opacity: 0.5;
}

.project-images .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}

.project-images-construction h1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    border-left: 4px solid var(--green);
}

.project-image-modal {
    z-index: 30;
    width: 0;
    height: 100%;
    background-color: var(--black-grey);
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

.project-image-modal.active {
    width: 100%;
}

.project-image-modal .content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
}


.project-image-modal .image {
    width: 90%;
    height: 100%;
}

.project-image-modal .image img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image-arrow {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.image-arrow i {
    font-size: 1.5rem;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.image-arrow i:hover {
    color: var(--green);
}


.dropdown {
    position: relative;
    display: none;
    width: 100%;
    border: 2px solid var(--green);
}

.dropdown-button {
    width: 100%;
    background-color: transparent;
    color: var(--off-white);
    padding: 1rem;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    outline: none;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark-grey);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0.5rem 1rem;
    transition: 0.5 ease;
    -webkit-transition: 0.5 ease;
    -moz-transition: 0.5 ease;
    -ms-transition: 0.5 ease;
    -o-transition: 0.5 ease;
}

.dropdown-content p {
    color: var(--off-white);
    padding: 0.5rem 0;
    cursor: pointer;
    display: block;
    margin: 0;
    transition: 0.5 ease;
    -webkit-transition: 0.5 ease;
    -moz-transition: 0.5 ease;
    -ms-transition: 0.5 ease;
    -o-transition: 0.5 ease;
}

.dropdown-content p:hover {
    color: var(--green)
}

.dropdown-content.active {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: var(--green);
}