@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {

    .project-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        grid-template: none;
        row-gap: 1.5rem;
    }

    .project-grid .project {
        width: 48%;
        height: 40vh;
    }

    .projects-page .project-grid {
        gap: unset;
        row-gap: 1.5rem;
    }

    .projects-page .project-grid .project {
        margin-bottom: 0;
    }

    .project-modal .project-details,
    .project-modal .project-images {
        width: 100%;
    }

    .project-modal .project-details {
        margin-bottom: 3rem;
    }

    .services-grid,
    .feedback-grid,
    .contact-grid {
        flex-wrap: wrap;
    }

    .contact-grid {
        flex-direction: column-reverse;
    }

    .services-grid div,
    .feedback-grid .feedback-item {
        width: 100%;
        border-right: none;
        margin-bottom: 2.5rem;
    }

    .services-grid.alternate div {
        border-bottom: 2px solid var(--green);
        margin: 0;
    }

    .services-grid.alternate div:last-child {
        border-bottom: 0;
    }

    .contact-details,
    .contact-map {
        width: 100%;
    }

    .contact-details {
        margin-bottom: 2rem;
    }

    .contact-map {
        height: 50vh;
    }

    .navbar-content img {
        width: 40%;
    }

    .stats-grid {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .stats-item {
        width: 40%;
    }

    .section-landing .content img {
        width: 50%;
    }

    .section-about {
        text-align: center;
        background-size: auto;
    }

    .about-grid {
        display: block;
    }

    .about-grid .section-heading .line {
        margin: auto;
    }

    .about-grid .right-text {
        border-left: none;
        padding-left: 0;
        padding-top: 1rem;
        margin-top: 2rem;
        border-top: 2px solid var(--green);
    }

    .feedback-section .section-heading .line {
        width: 35%;
    }
}

@media screen and (max-width: 576px) {

    .container {
        padding: 0 1rem;
    }

    .project-grid {
        justify-content: center;
    }

    .project-grid .project {
        width: 90%;
        height: 30vh;
    }

    .project-image-modal .content {
        padding: 1rem 0.5rem;
    }

    .project-images {
        justify-content: center;
    }

    .project-images div {
        width: 80%;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
        row-gap: 1rem;
    }

    .footer-logo img {
        width: 45%;
    }

    .footer-links,
    .footer-contact {
        border: none;
        align-items: center;
    }

    .navbar-content img {
        width: 50%;
    }

    .navbar-menu {
        padding-left: 1rem;
    }

    .stats-grid {
        row-gap: 1rem;
    }

    .stats-item {
        width: 100%;
        display: block;
        text-align: center;
    }

    .stats-item h1 {
        font-size: 4rem;
    }

    .section-landing .content img {
        width: 70%;
    }

    .landing-social.mobile {
        display: flex;
    }

    .landing-social {
        display: none;
    }
}

@media (hover: none) {

    /* Turn Off Project Inner Hover for Touch Devices */
    .project-inner {
        opacity: 1;
        background-color: rgba(17, 17, 17, 0.75);
    }
}